<button (click)="toggleFilter()">Toggle</button>
<div class="datatable-container">
    <ngx-datatable class="material" 
    [rows]="rows" 
    [columns]="columns" 
    [headerHeight]="isFilterEnabled ? 60 : 35" 
    [rowHeight]="50" 
    [columnMode]="'force'"
    [loadingIndicator]="isLoading"
    [externalPaging]="true"
    (scroll)="onScroll($event.offsetY)" 
    (select)='onSelect($event)'
    [count]="total" 
    [scrollbarV]="true"
    [selectionType]="'checkbox'" 
    #table
    >
        <ngx-datatable-row-detail [rowHeight]="50" #myDetailRow (toggle)="onDetailToggle($event)">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                <div style="padding-left:35px">
                    <div>
                        <strong>Title : </strong> {{row.title}}
                    </div>
                    <div>
                        <strong>Body : </strong> {{row.body}}
                    </div>
                </div>
            </ng-template>
        </ngx-datatable-row-detail>
    </ngx-datatable>

    <ng-template #select let-column="column">
        <div style="text-align: center">{{column.name}}</div>
        <select  (change)='updateFilter($event,column)'>
            <option value=""> -- </option>
            <option *ngFor="let item of rows  | unique : column.name" value="{{item[column.name]}}">{{item[column.name]}}</option>
        </select>
        <i  [hidden]="filtered.length === temp.length " class="datatable-icon-close" style="cursor:pointer" (click)="clearFilter($event,column)"></i>
    </ng-template>
    <ng-template #input let-column="column">
        {{column.name}}<br>
        <input type="text" autofocus (keyup)='updateFilter($event,column)'>
        <i [hidden]="filtered.length === temp.length " class="datatable-icon-close" style="cursor:pointer" (click)="clearFilter($event,column)"></i>
    </ng-template>

    <ng-template #detailTemplate let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
        <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
            (click)="toggleExpandRow(row)">
        </a>
    </ng-template>


    <ng-template #checkboxCellTemplate ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
        <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
    </ng-template>


</div>