<button (click)="toggleFilter()" [hidden]="!enableFiltering">Toggle</button>
<div class="datatable-container">
    <ngx-datatable class="material" 
    [rows]="rows" 
    [columns]="columns" 
    [headerHeight]="isFilterEnabled ? 55 : 34" 
    [rowHeight]="rowHeight"
    [columnMode]="'flex'" 
    [loadingIndicator]="isLoading" 
    [externalPaging]="true" (scroll)="onScroll($event.offsetY)" (select)='onSelect($event)'
        [count]="total" [scrollbarV]="true" [selectionType]="'checkbox'" #table>
        <ngx-datatable-row-detail [rowHeight]="200"  #myDetailRow>
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                <div style="padding-left:20px;">
                    <ul style="list-style:none">
                        <ng-container *ngFor="let column of columns" >
                            <li *ngIf="column.name">
                                <div class="row">
                                    <div class="col-sm-1"><b>{{column.name}}</b> : </div>
                                    <div class="col-sm-11">{{row[column.prop]}}</div>
                                </div>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </ng-template>
        </ngx-datatable-row-detail>
    </ngx-datatable>

    <ng-template #detailTemplate let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
        <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
            (click)="toggleExpandRow(row)">
        </a>
    </ng-template>

    <ng-template #select let-column="column" let-sort="sortFn" let-sortDir="sortDir">
        <div>
            <span class="column-header" (click)="sort()">{{column.name}}</span>
            <span class="sort-btn" [class.sort-asc]="sortDir === 'asc'" [class.datatable-icon-up]="sortDir === 'asc'" [class.sort-desc]="sortDir === 'desc'"
                [class.datatable-icon-down]="sortDir === 'desc'"></span>
        </div>
        <select (change)='updateFilter($event)' [(ngModel)]="column.filterValue">
            <option value=""> -- </option>
            <option *ngFor="let item of rows  | unique : column.prop">{{item[column.prop]}}</option>
        </select>
        <i [hidden]="!column.filterValue" class="datatable-icon-close" style="cursor:pointer" (click)="clearFilter($event,column)"></i>
    </ng-template>
    <ng-template #input let-column="column" let-sort="sortFn" let-sortDir="sortDir">
        <div>
            <span class="column-header" (click)="sort()">{{column.name}}</span>
            <span class="sort-btn" [class.sort-asc]="sortDir === 'asc'" [class.datatable-icon-up]="sortDir === 'asc'" [class.sort-desc]="sortDir === 'desc'"
                [class.datatable-icon-down]="sortDir === 'desc'"></span>
        </div>
        <input type="text" (keyup)='updateFilter($event)' [(ngModel)]="column.filterValue">
        <i [hidden]="!column.filterValue" class="datatable-icon-close" style="cursor:pointer" (click)="clearFilter($event,column)"></i>
    </ng-template>

    <ng-template #checkboxCellTemplate ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
        <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
    </ng-template>


</div>